@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:ital,wght@1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: darkblue;
  --fallback-color: #ba0adad4;
  --gradient: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  --card-background: white;
  --card-width: 22rem;
  --card-margin: 3rem auto;
  --card-padding: 3rem 2rem;
  --card-box-shadow: 30px 20px 5px rgba(183, 46, 46, 0.5);
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  background-image: var(--gradient);
}

.card {
  background: var(--card-background);
  width: var(--card-width);
  margin: var(--card-margin);
  padding: var(--card-padding);
  box-shadow: var(--card-box-shadow);
  border-radius: 5px;
}

.card__title {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.card__cta {
  display: inline-block;
  padding: 12px 12px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-image: var(--gradient);
}

.card2 {
  background: var(--card-background);
  width: var(--card-width);
  margin: var(--card-margin);
  padding: var(--card-padding);
  box-shadow: var(--card-box-shadow);
  --primary-color: crimson;
}

p {
  color: var(--primary-color);
}

.card2__title {
  font-size: 2rem;
  /* color: var(--color-secondary, var(--fallback2-color, red)); */
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  font-weight: bold;
}
